/* Main content */
//@import "Helpers";
@import "variables";

.list-information{
	list-style: listNone;
	margin: $margin;
	padding: $padding;
}
.list-information li{
	padding-left:30px;
	background-image: $url;
	background-repeat: $noRepetir;	
	background-position: top left;
}

.caja{ 
	width:29%;
	float:$izquierda;
	+ .caja{
		margin-left: 6.25%;
	}
}

.box-link{
    color:$color5;
    font-size: 12px;
    font-style: italic;
    text-decoration: listNone;
}
