/* Our portfolio */
//NESTING
.video{
	width: 22%;
	float: left;
	background-color:$color6;
	a{
		display: block;
	}
	img{
		display: block;
		max-width: 100%;
		width: 100%;
	}
	+ .video{
		margin-left: 3.5%;
	}
}


/* Information section */
#blog-updates{
	width: 660px;
	float: $izquierda;
	margin-right: 80px;
}
#connect-with-us{
	width: 220px;
	float: $derecha;
} 

