//COLORES 
$color1:#e2e2e2;
$color2:#5d5d5d;
$color3:#999898;
$color4:#fe9b00;
$color5:#090909;
$color6:red;
$color7:hsl(0, 0%, 75%);
//POSICIONES
$relativo:relative;
$absoluto:absolute;
//FLOATS
$derecha:right;
$izquierda:left;
//STYLES
$listNone:none;
$mayuscula:uppercase;
$noRepetir:no-repeat;
$family: Arial, Helvetica, sans-serif;
$size:18px;
$margin:0;
$padding:0;
//URL
$url:url('../img/check.png');
$url2:url(../img/flecha.png);